<ion-content padding>



  <ion-item>
    <ion-label floating>Saisissez votre email</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <button ion-button full (click)="envoyer()" *ngIf="!estAutoriseSaisieMotDePasse">Envoyer</button>

  <div *ngIf="estAutoriseSaisieMotDePasse">
    <ion-item>
      <ion-label floating>Saisissez le code reçu par mail</ion-label>
      <ion-input type="text" [(ngModel)]="code"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Saisissez votre nouveau mot de passe</ion-label>
      <ion-input type="password" [(ngModel)]="nouveauMotDePasse"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Confirmez votre mot de passe</ion-label>
      <ion-input type="password" [(ngModel)]="confirmationNouveauMotDePasse"></ion-input>
    </ion-item>

    <button ion-button full (click)="changerMotDePasse()">Envoyer</button>

  </div>


</ion-content>
