BackEnd/node_modules
FrontEnd/Conciergerie2sAdmin/node_modules
FrontEnd/Conciergerie2s/node_modules
node_modules

# ignore image
BackEnd/data/images/prestation/*
BackEnd/data/images/service/*

# log files
*.log

# configuration variable
BackEnd/config/environnementconf.js
