<!--
  Generated template for the AddPrestationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle *ngIf="!isUpdateModal()" ><ion-icon name="menu"></ion-icon></button>
      <button ion-button *ngIf="isUpdateModal()" (click)="close();"><ion-icon name="arrow-back"></ion-icon></button>
    </ion-buttons>
    <ion-title *ngIf="!isUpdateModal()" >Ajout d'une prestation</ion-title>
    <ion-title *ngIf="isUpdateModal()" >Modification d'une prestation</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="success" *ngIf="isSaved">
        La sauvegarde s'est terminée avec succés.
    </div>

    <ion-list>

      <ion-item text-center>
        <img src="{{prestation.image}}" (click)="importImage()" *ngIf="!isUpdateModal()">
        <img src="{{prestationImageUrl + prestation.image}}" (click)="importImage()" *ngIf="isUpdateModal()">
        <input type="file" name="image" id="image" (change)="uploadImage($event)" hidden/>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header class="list-header">Informations générales</ion-list-header>
      <ion-item>

        <ion-label floating>Nom de la prestation</ion-label>
        <ion-input type="text" required name="nom" id="nom" [(ngModel)]="prestation.nom"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-textarea rows="3" required [(ngModel)]="prestation.description"id="description" name="description"></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-list>
        <ion-list-header class="list-header">Tarif</ion-list-header>
        <ion-item>
            <ion-label floating>Prix de la prestation</ion-label>
            <ion-input type="number" required name="prix" id="prix" [(ngModel)]="prestation.prix"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label floating>Forfait de la prestation</ion-label>
              <ion-input type="number" required name="forfait" id="forfait" [(ngModel)]="prestation.forfait"></ion-input>
            </ion-item>
          <ion-item>
            <ion-label floating>Type de prix par defaut (heure, forfait ou devis)</ion-label>
            <ion-select id="typeprix" name="typeprix" [(ngModel)]="prestation.typeprix">
              <ion-option value="{{typePrixEnum.HEURE}}">Par heure</ion-option>
              <ion-option value="{{typePrixEnum.FORFAIT}}">Forfait</ion-option>
              <ion-option value="{{typePrixEnum.DEVIS}}">Sur devis</ion-option>
            </ion-select>
          </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header class="list-header">Détails
        <button ion-button item-end icon-only (click)="displayAddPrestationDetail()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-list-header>
     <ion-item>
        <ion-grid>
          <ion-row>
        <ion-col>
            <ion-input type="text" required name="infoicon" id="infoicon" placeholder="icon"></ion-input>
        </ion-col>
            <ion-col><ion-input type="text" required name="infocontenu" id="infocontenu" placeholder="contenu"></ion-input></ion-col>
          <ion-col>
             <button ion-button icon-only>
              <ion-icon name="add"></ion-icon>
          </button>
          </ion-col></ion-row>
        </ion-grid>

      </ion-item>
      <ion-item *ngFor="let detail of prestation.details; let i = index">
          <ion-input [(ngModel)]="prestation.details[i]"></ion-input>
          <button ion-button item-right icon-only (click)="deletePrestationDetail(i)"><ion-icon name="trash"></ion-icon></button>
      </ion-item>
    </ion-list>



    <div text-center>
          <button ion-button [color]="" (click)="add()" *ngIf="!isUpdateModal()">Enregistrer</button>
          <button ion-button [color]="" (click)="update()" *ngIf="isUpdateModal()">Modifier</button>
          <button ion-button color="danger" (click)="close()">Annuler</button>
    </div>
</ion-content>
