<!--
  Generated template for the LinkServicePrestationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Lier une prestation à un service</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-select>
    <ion-option *ngFor="let element of services">

    </ion-option>
  </ion-select>

  <ion-select>
    <ion-option *ngFor="let element of prestations">

    </ion-option>
  </ion-select>

</ion-content>
