<!--
  Generated template for the CommandesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>commandes</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="defautseg">
      <ion-segment-button value="horaire" light>
        Par heure
      </ion-segment-button>
      <ion-segment-button value="forfait">
        Forfait
      </ion-segment-button>
      <ion-segment-button value="devis">
        Devis
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <div [ngSwitch]="defautseg">
    <ion-list *ngSwitchCase="'horaire'">
      <button ion-item *ngFor="let commande of commandesHoraire" (click)="detailCommandeHoraire(commande)">
        <ion-note item-start text-center>
          {{commande.dateCreation | date: 'dd/MM/yy'}}<br>
          {{commande.dateCreation | date: 'HH:mm'}}
        </ion-note>

        <h2>{{commande.prestation.nom}}</h2>
        <em>{{commande.date | date: 'dd/MM/yy'}} {{ commande.heure }}</em>

        <ion-note item-end >{{commande.prestation.prix * commande.quantite}} €</ion-note>
      </button>
    </ion-list>
    <ion-list *ngSwitchCase="'forfait'">
      <button ion-item *ngFor="let commande of commandesForfait" (click)="detailCommandeForfait(commande)">

          <ion-note item-start text-center>
              {{commande.dateCreation | date: 'dd/MM/yy'}}<br>
              {{commande.dateCreation | date: 'HH:mm'}}
          </ion-note>
  
          <h2>{{commande.prestation.nom}}</h2>
          <em>{{commande.date | date: 'dd/MM/yy'}} {{ commande.heure }}</em>
  
          <ion-note item-end >{{commande.prestation.prix * commande.quantite}} €</ion-note>       
      </button>
    </ion-list>
    <ion-list *ngSwitchCase="'devis'">

        <ion-card *ngFor="let commande of commandesDevis" (click)="detailDevis(commande)">

            <ion-item>
              <h2 text-wrap>{{commande.prestation.nom}}</h2>   
              <p *ngIf="commande.dateCreation">Créé le {{commande.dateCreation | date: 'dd/MM/yy'}}</p>     
            </ion-item>
          
            <img src="{{prestationImageUrl + commande.prestation.image}}">
          
            <ion-card-content>
              <p *ngIf="!commande.client" ion-text color="danger">Attention Client inconnu - Demande à supprimer</p>
              <p *ngIf="commande.client"><b>Client : </b><span text-wrap>{{commande.client.nom + " " + commande.client.prenom}}</span></p>
              <p *ngIf="commande.date"><span class='label-title'>Date RDV</span> : {{commande.date | date: 'dd/MM/yy'}}</p>
              <p *ngIf="commande.client"><span class='label-title'>Ville</span> : {{commande.client.ville }}</p>
            </ion-card-content>
        </ion-card> 
     <!--  <button ion-item *ngFor="let commande of commandeDevis" (click)="detailDevis(commande)">
          <ion-note item-start text-center>
              {{commande.dateCreation | date: 'dd/MM/yy'}}<br>
              {{commande.dateCreation | date: 'HH:mm'}}
          </ion-note>
          <h2>{{commande.prestation.nom}}</h2>
          <em>{{commande.date | date: 'dd/MM/yy'}} {{ commande.heure }}</em>
          <ion-note item-end >{{commande.prestation.prix}} €</ion-note>
      </button> -->
    </ion-list>
  </div>

</ion-content>
