<ion-header>

    <ion-navbar>
      <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
      <ion-title>Notifications</ion-title>
    </ion-navbar>
  
  </ion-header>
<ion-content padding>
    <ion-card   *ngFor="let element of notifications">
        <ion-item  color="light" text-wrap>
          <ion-icon name="{{ element.icon }}" item-start></ion-icon>
            {{ element.message }}<br>
            <ion-note *ngIf="element.utilisateur">Client : {{ element.utilisateur.nom}} {{element.utilisateur.prenom}}</ion-note>                                
            <button ion-button (click)="delete(element)" icon-only color="light" item-end>
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-item>            
    </ion-card> 
 </ion-content>
