<!--
  Generated template for the ServiceAddModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button menuToggle *ngIf="!isUpdateModal()" ><ion-icon name="menu"></ion-icon></button>
      <button ion-button menuToggle *ngIf="isUpdateModal()" (click)="annul();"><ion-icon name="arrow-back"></ion-icon></button>
    </ion-buttons>
    <ion-title *ngIf="!isUpdateModal()">Ajout d'un service</ion-title>
    <ion-title *ngIf="isUpdateModal()">Modification d'un service</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <div class="success" *ngIf="isSaved">
    La sauvegarde s'est terminée avec succés.
  </div>

  <ion-list>
    <ion-item text-center>
        <img src="{{service.image}}" (click)="importImage()" *ngIf="!isUpdateModal() || isImageUploaded">
        <img src="{{serverImage + service.image}}" (click)="importImage()" *ngIf="isUpdateModal() && !isImageUploaded">
        <input type="file" name="image" id="image" (change)="uploadImage($event)" hidden/>
    </ion-item>
    <ion-item>
      <ion-label floating>Nom du service</ion-label>
      <ion-input type="text" required name="nom" id="nom" [(ngModel)]="service.nom"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-textarea rows="3" required [(ngModel)]="service.description"id="description" name="desctiption"></ion-textarea>
    </ion-item>
  </ion-list>

<div text-center>
  <button ion-button [color]="" (click)="save()" *ngIf="!isUpdateModal()">Enregistrer</button>
  <button ion-button [color]="" (click)="update()" *ngIf="isUpdateModal()">Modifier</button>
  <button ion-button color="danger" (click)="annul()" >Annuler</button>
</div>

</ion-content>
