<!--
  Generated template for the CommandeHorairePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle ><ion-icon name="menu"></ion-icon></button>
    <ion-title>Commandes HORAIRE</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let element of commande" (click)="afficherDetailCommande(element)">
      <ion-item>
        <ion-avatar item-start>
            <ion-icon name="calendar"></ion-icon> {{element.date | date: 'dd/MM/yy'}}<br>
            <ion-icon name="time"></ion-icon> {{element.heure }}<br>
        </ion-avatar>
        <h2>{{element.prestation.nom}}</h2>
        <p>{{element.client.nom + " " + element.client.prenom}}</p>
        <ion-note item-end><ion-icon name="basket"></ion-icon> {{element.quantite}}<br>{{element.prestation.prix * element.quantite}} € TTC</ion-note>
      </ion-item>
      <ion-item-options >
        <button ion-button *ngIf="isEnCours(element)"  color="secondary" icon-start> <ion-icon name="people"></ion-icon>Prestataire</button>
        <button ion-button  *ngIf="!isEnCours(element)" color="secondary">Validé</button>
      </ion-item-options>
    </ion-item-sliding>
</ion-list>
</ion-content>
