<!--
  Generated template for the CommandeHorairePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle ><ion-icon name="menu"></ion-icon></button>
    <ion-title>Toutes les commandes horaires</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let element of commande">
      <i class="icon ion-android-checkbox secondary"></i>
      <i class="icon checkbox icon-ios-secondary" *ngIf="isEnCours(element)" item-start></i>
      <ion-icon name="checkbox" *ngIf="!isEnCours(element)" (click)="validerCommande(element)" item-start></ion-icon>

      <!--<ion-avatar item-start>
      </ion-avatar>-->
      Information clients :
      <br>{{element.client.nom + " " + element.client.prenom}}
      <br>Prestation nom : {{element.prestation.nom}}
      <br>Date prestation commande : {{element.date}}
      <br>Heure : Du {{element.heure }}
      <br>Duree : {{element.duree}}
    </ion-item>
  </ion-list>
</ion-content>
