<!--
  Generated template for the ServiceAddModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Ajout d'un service</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="error != ErrorEnum.NO_ERROR">
    <div class="alert alert-danger" *ngIf="error == ErrorEnum.ERROR_IMAGE_LOADING">
      Une erreur est survenu lors du chargement de l'image.
    </div>
    <div class="alert alert-danger" *ngIf="error == ErrorEnum.ERROR_NAME_ALREADY_USED">
      Le nom que vous avez choisi pour le service est déjà utilisé.
    </div>
    <div class="alert alert-danger" *ngIf="error == ErrorEnum.ERROR_NAME_NOT_COMPLETED">
      Le nom du service doit être completé.
    </div>
  </div>
  <div class="success" *ngIf="isSaved">
    La savegarde s'est terminée avec succés.
  </div>
  <div>
    <label float-left>Choissisez votre image</label>
    <img src="{{service.image}}" (click)="">
  </div>

  <div>
    <label float-left>Choisissez le nom du service</label>
    <ion-input value="{{service.name}}" required></ion-input>
  </div>

  <button ion-button [color]="" (click)="save()">Enregistrer</button>

</ion-content>
