<!--
  Generated template for the DevisDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>devis-detail</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>      
        <h1>{{commande.prestation.nom}}</h1>
        Demandé le : <em>{{commande.dateCreation | date: 'dd/MM/yy'}}</em><br>
        Statut : <em>{{ status }}</em>
    </ion-list-header>
    <hr>
    <ion-item>
        <p> <span  class="label-title">Date RDV: </span><em >{{commande.date | date: 'dd/MM/yy'}}</em></p><br>
        <p>
          <span class="label-title">Client :</span><br>
          <span text-wrap > Nom: {{commande.client.nom }} Prénom: {{commande.client.prenom}}</span><br>
          <span text-wrap>  Tel: {{commande.client.telephoneMobile}}</span><br>
          <span text-wrap>Ville: {{commande.client.ville}}</span>
        </p><br>
        <p text-wrap> <span  class="label-title">Informations fournies par le client : </span><br>{{commande.information}}</p>
    </ion-item>
  </ion-list>
  <ion-list  *ngIf="peutPostuler()">  
    <br>
      <ion-list-header>      
          <h1> Je postule  </h1>
      </ion-list-header> 
    
      <ion-item >      
        <span item-start>Date proposée : </span><ion-datetime displayFormat="DD/MM/YYYY" placeholder="jj/mm/aaaa" pickerFormat="DD MMMM YYYY"  max='2030-12-31' [(ngModel)]="proposition.dateProposee"></ion-datetime>
      </ion-item>
      
      <ion-item>        
          <span item-start>Prix proposée TTC : </span><ion-input type="number" [(ngModel)]="proposition.prix" placeholder="votre prix"></ion-input>
      </ion-item>   
  </ion-list>
  <div text-center>
      <button *ngIf="peutPostuler() && !dejapostuler" ion-button (click)="postuler()" taupe>Postuler</button>
      <button ion-button (click)="annuler()" taupe>Fermer</button>
    </div>
</ion-content>
